body {
  margin: 0;
  font-family: system-ui;
  background: #0a0f2b;
  color: white;
  height: 100vh;
}

/* RIGHT SIDE CONTAINER */
.right-panel {
  position: fixed;
  right: 10vw;
  top: 15vh;    
  width: 50vw;
  display: flex;
  flex-direction: column;
}

/* MAP */
#map {
  width: 45vw;
  height: 55vh;
  border-left: 2px solid #222;
  border-bottom: 2px solid #222;
}

/* BUTTONS BELOW MAP */
.controls {
  padding: 15px;
  display: flex;
  gap: 10px;
  background: #0f163d;
}

button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#simulate {
  background: #ffd166;
}

#sos {
  background: #ff4d6d;
  color: white;
}
